<h2>Unprotected Landscapes Watch List</h2>

<% @issues.each do |issue| %>
  <p><b><%= link_to issue.title, issue_path(issue) %></b></p>
  <p><%= issue.location %></p>
  <img src="<%= issue.photo_url %>" width="425" height="350">
  <p><img src="<%= issue.map_url %>" width="425" height="350"></p>
<% end %>
